@model IEnumerable<BackgroundService.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<h1>Leaderboard</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbWins)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbWins)
            </td>
        </tr>
}
    </tbody>
</table>
